{% extends "base_auth.html" %}
{% load static %}

{% block content %}
    <div class="login-box">

        <div class="logo">
            <img src="#" alt="IntelRain">
    </div>

        <div class="title">ایجاد حساب کاربری</div>

        <form method="POST" class="mt-3">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-success w-100 mt-2 mb-3">ثبت‌نام</button>

            <div class="footer-link">
                قبلاً ثبت‌نام کرده‌اید؟
                <a href="{% url 'login' %}">ورود به حساب</a>
            </div>
        </form>
    </div>
{% endblock %}