<footer class="footer">
    <div class="container">
        <div class="social-links">
            <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="social-link"><i class="fab fa-github"></i></a>
            <a href="#" class="social-link"><i class="fab fa-telegram"></i></a>
            <a href="#" class="social-link"><i class="fas fa-envelope"></i></a>
        </div>
        <div class="text-center">
            <p style="color: #c0c0c0;">&copy; ۲۰۲۴ باران اندیشه داده و هوش. تمامی حقوق محفوظ است.</p>

        </div>
    </div>
</footer>